{
  "plugins": [
    ["styled-components"],
    ["module-resolver", { "root": ["./"] }],
    [
      "file-loader",
      {
        "name": "[hash].[ext]",
        "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
        "publicPath": "/static",
        "outputPath": "/public",
        "context": "",
        "limit": 0
      }
    ]
  ]
}
